<?xml version="1.0" encoding="UTF-8"?>

<plugin id="inlocomedia-engage-cordova-plugin"
        version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>InLocoEngage Plugin</name>
    <description>Plugin for InLocoEngage</description>
    <author>InLocoMedia</author>
    <license>Copyright</license>
    <keywords>inlocomedia,engagement,inlocoengage</keywords>
    <repo>https://github.com/In-Loco-Media/inlocoengage-cordova-plugin</repo>
    <issue>https://github.com/In-Loco-Media/inlocoengage-cordova-plugin/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0"/>
    </engines>

    <js-module name="InLocoEngage" src="www/InLocoEngage.js">
        <clobbers target="window.InLocoEngage"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file parent="/manifest/application" target="AndroidManifest.xml">

            <!-- Engage SDK -->
            <receiver
                    android:name=".InLocoEngagementReceiver"
                    android:exported="false"/>

            <!-- Location SDK -->
            <service
                    android:name=".InLocoMediaService"
                    android:exported="false"/>

            <receiver
                    android:name="com.inlocomedia.android.location.LocationReceiver"
                    android:exported="false">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED"/>
                </intent-filter>
            </receiver>

            <!-- Core SDK -->
            <activity
                    android:name=".InLocoMediaActivity"
                    android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                    android:theme="@style/Theme.InLocoMedia.NoActionBar.Fullscreen"/>

        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
        </config-file>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="InLocoEngage">
                <param name="android-package" value="com.inlocomedia.android.engagement.InLocoEngagePlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <source-file src="src/android/InLocoEngagePlugin.java" target-dir="src/com/inlocomedia/android/engagement"/>

        <framework src="com.inlocomedia.android:android-sdk-engagement:3.3.+"/>
        <framework src="com.inlocomedia.android:android-sdk-location:3.3.+"/>
        <framework src="com.google.android.gms:play-services-location:11.0.+"/>
        <framework src="com.google.android.gms:play-services-ads:11.0.+"/>
        <framework src="com.android.support:support-v4:25.3.+"/>

    </platform>

</plugin>
